<form action="">
    <label for="email">Email</label>
    <input type="email">
    <label for="password">New password</label>
    <input type="password">
    <button type="submit">Submit</button>
</form>